/**
 * Eric Meyer's Reset CSS v2.0 
(http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: 'Noto Sans KR', Arial, sans-serif;
    font-weight: normal;
  vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*end of reset*/

.container{
	width: 1140px;
	margin: auto;
	padding: 10px 0;
	background-color: #ddd
}
/*.prod_hr{
	display: block;
	margin: auto;
	width: 1070px;
	height: 20px;
	border-bottom: 1px solid black;
	text-align: center;
	margin-bottom: 45px;
}*/
.prod_hr span{
	display: block;
	font-size: 40px;
	padding-bottom: 10px;
	/*background-color: #999;*/
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.prod_list{
	/*border: 1px solid black;*/
	text-align: center;
}
.prod_list .card{
	width: 340px;
	height: 200px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	/*margin: 0 17px;*/
	/*border: 1px solid red;*/
	background-image: url("http://dummyimage.com/340x200/000/fff&text=+");
}
.prod_list .card:nth-child(2){
	margin: 0 55px;
}
.prod_list .card h3{
	font-size: 40px;
	font-weight: bold;
	padding: 10px 0;
	color: white;
	line-height: 200px;
}