@font-face{
	font-family: 'NotoSans';
	src: url(../fonts/NotoSans-Regular.ttf) format('truetype');;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: NotoSan;
}

header{
	width: 1140px;
	margin: auto;
	border: 0px solid red;
	height: 50px;

}
nav{
	float: left;
	width: 680px;
	margin-left: 20px
}
nav ul{
	display: block;
	list-style: none;
	padding: 0px;
	margin: 0px;
	
}
nav ul li{
	float: left;
}
nav ul li a{
	display: block;
	padding: 12px 50px;
	width:65px;
	font-size: 12pt;
	background-color: #fff;
	text-align: center;
	
}
nav ul li a:hover{
	background-color: #fff;
	border-bottom: 2px solid #000;
}
a{
	text-decoration: none;
	color: #333;
}

.logo{
	float: left;
	width: 200px;
	height: 50px;
	font-size: 30pt;
	font-weight: bold;
}
.logo img{
	display: block;
	margin-top: 10px;
	
}
.topSearch{
	display: inline-block;
	width:230px;
}
.topInfo{
	float: right;
}
.topInfoSet{
	margin-top: 10px;
	margin-right: 20px;
	float: left;
}
.topInfoSet a{
	font-size: 9pt;
}
.topInfoSet a:hover{
	color: red;
}
.topSearch_btn{
	float: right;
	width: 25px;
	height: 25px;
	margin-top: 5px;
	cursor: pointer;
}

.topSearch_box{	
	display: none;
	position: absolute;
	border: 1px solid #333;
	top:50px;
	margin-left: 70px;
	padding: 5px;
}
.topSearch_l{
	float: left;
}
.topSearch_r{
	float: left;
	margin-left: 5px;

}
.topSearch_b{
	padding: 5px;
	clear: left;
}
.top_{
	margin: 0px 10px;
	font-size: 9pt;
}
.topSearch_box .topSearch_close{
	clear: both;
	border: 1px solid #333;
	width:35px;
	font-size: 8pt;
	float: right;
	cursor: pointer;
}