@CHARSET "UTF-8";


	*{
		margin: 0px;
		padding:0px;
	}
	.container{
		width:1140px;
		height:auto;
		margin: 0px auto;
	}
/*********************** image file ****************************/
	div#wrap{
		background:#4d515a;
		width: 1140px;
		height: 600px;
		margin:0px;
		padding:0px;
		overflow:hidden;
		position:relative;
	}
	div#slideContainer{
		width: 4560px;
		height: auto;
		margin:0px;
		padding:0px;
		position:absolute;
		-webkit-transition:all 1.0s ease-in-out;
	}
	div#slideContainer img{
		float:left;
		width:1140px;
		height:600px;
		margin:0px;
		padding:0px;
	}
	ul#slideBar{
		position:relative;
		margin:550px auto 0px auto;
		width:250px;
		z-index:1;
	}
	ul#slideBar li{
		display:inline;
		list-style:none;
	}
	ul#slideBar a{
		margin:20px;
		float:left;
		width:15px;
		height:15px;
		background: url(image/dots.png) no-repeat;
		background-size:15px 15px;
	}
	ul#slideBar a.active{
      /*background-position:0 -30px; */  /*이미지가 위 아래로 위치가 되어있어야한다.*/
		background: url(image/clickedDots.png) no-repeat;
		background-size:15px 15px;
	}
	.left{
		position: relative;
		top:0px;
		float:left;
		width:100px;
		height:600px;
		opacity:0.2;
	}
	.right{
		opacity:0.2;
		position:relative;
		top:0px;
		float:right;
		width:100px;
		height:600px;
	}
	

/************************* image file ************************************/

	.slider_container{
		width:1140px;
		height:auto;
		margin: 0px auto;
		position:relative;
	}

	ul#menu{
		background:#4d515a;
		margin : auto;
		text-align:center;
		line-height: 7em;
		letter-spacing: 0.5em;
		word-spacing:20px;;
		width:1140px;
		height:100px;
		border-top:1px solid black;
		border-bottom:1px solid black;
	}
	ul#menu li{
		color:white;
		display:inline;
		height: 100px;
		width: 100px;
		font-size:20px;
	}
	ul#menu li img{
		width: 75px
		height: 30px
	}
	
	#menu li a:link{
		color:white;
		text-decoration:none;
	}
	#menu li a:visited{
		text-decoration:none;
		color:white;
	}


	
	#text{
		background:#e6e6e6;
		height:250px;
		width:100%;
		border:0px solid black;
	}
	#categories{
		background:#b3b3b3;
		height:332px;
		width:100%;
		border:0px solid black;
		vertical-align:middle
	}
	#categories div div{
		display:inline-block;
		vertical-align:middle;
		text-align:center;
		width:340px;
		height:200px;
	}
	#categories img{
		position:relative;
		left:0px;
		width:340px;
		height:200px;
		margin:10px;
	}
	#product{
		text-align:center;
		background:#e6e6e6;
		border:0px solid black;
		width:100%;
		height:1234px;
	}
	#product img{
		height:400px;
		width:340px;
	}
	#product .container div{
		margin: 5px;
		float:left;
		width: 340px;
		height: 600px;
	}

	footer{
		width:100%;
		height:485px;
		background: #999999;
	}
	footer .copyright{
		background: #cccccc;
		position: relative;
		width:100%;
		height:100px;
	}
	footer .footer{
		background: #999999;
		width:100%;
		height:380px;
	}