@CHARSET "UTF-8";
/************* Common *************/

@font-face {
    font-family: 'NotoSans-Regular';
    src: url(../fonts/NotoSans-Regular.ttf) format('truetype');
    
}

body{
	
}

body,h6,p {
	
	font-family: NotoSans-Regular;
}

.grad{
	/*width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #000255, #00021F);*/

}
.container{
	
	background-repeat:no-repeat;
	display: block;
	width: 1140px;
	height: 720px;
	margin: auto;
	background-image: url(../images/login_bg1.png);
	overflow: hidden;
}
header, section{
	display: block;
	margin: auto;
}
nav{
	width: 30px;
	height: 29px;
	margin: 20px 25px;
}
nav img{
	width: 30px;
	height: 29px;
	
}
section img {
	display: block;
	margin: auto;

}

section.input{
/*	background-color: white;*/
	border-radius: 10px;
	width: 500px;
	height: 230px;
	margin: auto;
	margin-top: 107px;
}
section.input .warning_password, .warning_id{
	display:none;
	
}

input[type=text], input[type=password] {
	background: rgba(255, 255, 255, 0.5);
    width: 85%;
    padding: 12px 20px;
    margin: 15px 20px;
    border: 0px solid #fff;
    /*box-sizing: border-box;
    outline: none;*/
    /*border-radius: 5px;*/
    font-size: 18px;
    color: black;
    box-shadow: none;
}
input[type=text]:first-child{
	margin-top:30px;

}
/*input[type=text]:focus {
    border: 3px solid #ffffff;
}*/
input[type=submit]{
	display: block;
	background-color: #00AA48;
    border: none;
    border-radius: 5px;
    padding: 16px 32px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    font-size: 17px;
}
section.login_pg{

	text-align: center;
	font-weight: normal;
	margin-top: -5px;
}
section.login_pg a{
	text-decoration: underline;
	color: white;
	font-weight: bold;
}