/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: 'Noto Sans KR', Arial, sans-serif;
    font-weight: normal;
  vertical-align: baseline;
    text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}*/
/*end of reset*/

div.container{
  display: block;
  width: 1140px;
  margin: auto;
}
div.product_image{
  width:60%;
  float: left;
}
div.product_description{
  width: 40%;
  float: right;
}
div.sub_image ul li{
  display: inline-block;
  list-style-type: none;
  padding-right: 13px;
}
.product_description .title h3{
  font-size: 40px;
  margin: 10px 10px 10px 0;
  /*background-color: red;*/
}
.product_description .title h5{
  font-size: 22px;
  margin: -10px 10px 0 0px;
  font-weight: normal;
  /*background-color: green;*/
}
.product_color .choose_color, .product_size .choose_size{
  margin: 20px 0 0 0px;
  letter-spacing: 2px;
  opacity: 0.6;
}
.product_color ul, .product_size ul{
  margin-left: -30px;
}
.product_color ul li, .product_size ul li{
  display: inline-block;
  list-style-type: none;
  margin: 0 10px 0 0;
}
.color1,.color2,.color3,.color4,.color5{
    width: 50px;
     height: 50px;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     border-radius: 25px;
}
.size{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid black;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.color1{
  background-color: #000000;
}
.color2{
  background-color: #f5a623;
}
.color3{
  background-color: #9b9b9b;
}
.color4{
  background-color: #d0021b;
}
.color5{
  background-color: #bd10e0;
}
.description{
  margin-top: 20px;
  opacity: 0.8;
  text-align: left;
}
.action ul li{
  display: inline-block;
  list-style-type: none;
  padding: 20px 30px 0 20px;
}
.button{
  width: 125px;
	height: 60px;
	border-radius: 5px;
	background-color: #5aa4fb;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	border: solid 1px #ffffff;
  color: white;
  font-size: 18px;
}
